<div class="container mt-4">
  <!-- Movie Details -->
  <div class="row">
    <div class="col-md-4">
      <img [src]="movie.poster" class="img-fluid rounded shadow" alt="{{ movie.title }}">
    </div>
    <div class="col-md-8">
      <h2>{{ movie.title }}</h2>
      <p class="text-muted">{{ movie.releaseDate }}</p>
      <div class="d-flex align-items-center mb-2">
        <!-- <span class="stars">&#9733;&#9733;&#9733;&#9733;&#9734;</span> -->
        <span class="stars">
          <i *ngFor="let i of stars"
             class="fa fa-star"
             [ngClass]="{'text-warning': i < movie.rating, 'text-secondary': i >= movie.rating}">
          </i>
        </span>
        <span class="ms-2">{{ movie.vote_count }}</span>
      </div>
      <p class="overview">{{ movie.overview }}</p>
      <div>
        <span class="badge bg-warning text-dark me-2 mt-4" *ngFor="let genre of movie.genres">{{ genre.name }}</span>
      </div>
      <div class="additional-info d-flex gap-5 mt-4 mb-4">
        <p><strong>Duration:</strong> {{ movie.duration }} Min.</p>
        <p><strong>Languages:</strong> {{ movie.language }}</p>
      </div>
      <a href="{{ movie.website }}" target="_blank" class=" website mt-4">Website <i class="fa fa-link"></i></a>
    </div>
  </div>

  <!-- Recommendations -->
  <h3 class="mt-5">Recommendations</h3>

  <div class="d-flex flex-wrap justify-content-center gap-3 p-4">
    <app-movie-card
      *ngFor="let movie of recommendations"
      [movie]="movie">
    </app-movie-card>
  </div>
</div>
