.navbar {
    .dropdown-toggle {
      background: none;
      border: none;
    }
  
    .watchlist {
      cursor: pointer;
      transition: 0.3s;
  
      i {
        font-size: 20px;
      }
  
      &:hover {
        opacity: 0.8;
      }
    }
    background-color: rgb(253, 228, 5);
  }
  a{
    text-decoration: none;
    color: black;
  }

  .badge{
    position: absolute;
    font-size: 12px;
    top: 10px;
    color: #0d0b0b;
    background-color: white;
    right: 19px;
  }