<div class="watchlist-container">
  <h3>Watchlist</h3>
  @if (movies.length == 0) {
    <div class="empty-watchlist">
      <span class="icon"><i class="fa fa-heart"></i></span>
      <p>No Movies in watchlist</p>
      <a routerLink="/">Back to home</a>
    </div>
  }
  @else {

      <div class="movie-list">
      <div class="movie-card" *ngFor="let movie of movies">
        <a [routerLink]="'/movie/' + movie.id">
          <img [src]="movie.image" [alt]="movie.title" class="card-img-top">
        </a>
          <div class="movie-info">
          <h4>{{ movie.title }}</h4>
          <p class="date">{{ movie.releaseDate }}</p>
          <!-- {{getStars(movie.vote_average)}} -->
          <span class="stars">
            <i *ngFor="let i of getStars(movie.vote_average) "
               class="fa fa-star"
               [ngClass]="{'text-warning': i < movie.rating, 'text-secondary': i >= movie.rating}">
            </i>
          </span>
          <span class=" c-black">
            {{ movie.vote_count }}
          </span>
          <span class="votes">{{ movie.votes }}</span>
          <p class="description">{{ movie.overview | slice:0:100 }}...</p>
        </div>
        <i class="fa fa-heart favorite text-warning"  (click)="removeFromWatchlist(movie.id)"></i>
      </div>
    </div> 
  }
</div>
